
    /* CSS for the body */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;

    }

    /* CSS for the header */
    header {
      background-color: #3F51B5;
      color: white;
      text-align: center;
      padding: 1em;
    }

    /* CSS for the navigation menu */
    nav {
      background-color: #E3F2FD;
      color: #3F51B5;
      text-align: center;
      padding: 0.5em;
    }

    /* CSS for the main section */
    main {
      display: flex;
      flex-wrap: wrap;
    }

    /* CSS for the product cards */
    .product-card {
      width: 25%;
      padding: 1em;
      text-align: center;
    }

    /* CSS for the footer */
    footer {
      background-color: #3F51B5;
      color: white;
      text-align: center;
      padding: 1em;
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    button {
      display: inline-block;
      border-radius: 4px;
      background-color: #3d405b;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 17px;
      padding: 16px;
      width: 130px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
    }

    button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }

    button span:after {
      content: '»';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -15px;
      transition: 0.5s;
    }

    button:hover span {
      padding-right: 15px;
    }

    button:hover span:after {
      opacity: 1;
      right: 0;
    }

    image {
      width: 100px;
      height: 100px;
    }

    .card {
      margin: 0 auto;
      /* Added */
      float: none;
      /* Added */
      margin-bottom: 10px;
      /* Added */
    }
    h2{
      font-family: 'Titillium Web', sans-serif;  
    }
    .pad {
      position: absolute;
      padding: 100px 100px 100px 350px;
    }
  